.offcanvas2 {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-flex;
  flex-direction: row;
  color: black;
  background-color: transparent;
  border: none !important;
  transition: transform 2.3s ease-in-out;
  --bs-offcanvas-width: auto;
  z-index: 1050;
}

.offcanvas2.hide-offcanvas {
  transform: translateX(101%) !important;
}

.offcanvas2.show-offcanvas {
  transform: translateX(0);
}

/* Copied from Boostrap class .offcanvas-backdrop */
.offcanvas2-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

/* fade MUST be defined before show */
.offcanvas2-backdrop.fade {
  opacity: 0;
}

.offcanvas2-backdrop.show {
  opacity: 0.5;
}

.offcanvas2-left {
  display: flex;
  flex-direction: column;
  width: 3rem;
}

.offcanvas2-left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-left-radius: 0.375rem;
  background-color: maroon;
  margin-right: -1px;
}

.offcanvas2-left-bottom {
  display: none;
  flex: 1;
}

.offcanvas2-right {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 20rem;
  font-size: 0.9rem;
  gap: 2rem;
}

.offcanvas2-right.closing {
  pointer-events: none;
}

.offcanvas2-consult {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.8rem;
  font-weight: 750;
  color: maroon;
}

.offcanvas2-socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 23rem) {
  .offcanvas2-right {
    width: calc(100vw - 3rem);
  }
}