.contact-form-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.75rem;
  border: 1px solid lightslategray;
  border-radius: 0.375rem;
  font-size: inherit;
  font-family: inherit;
}

.contact-form-trigger:focus-visible,
.contact-form-trigger[data-state="open"] {
  border: 1px solid var(--theme-color);
  outline: none;
}

.contact-form-trigger[data-state="open"] .contact-form-icon {
  transform: rotate(180deg);
}

.contact-form-icon {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.contact-form-content {
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 0.375rem;
  width: var(--radix-select-trigger-width);
}

.contact-form-item {
  padding: 0.375rem 0.75rem;
}

.contact-form-item[data-highlighted] {
  color: white;
  background-color: var(--theme-color);
  outline: none;
}