.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: white;
  height: 4rem;
  padding: 0;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link {
  display: none;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar-link.active {
  color: maroon;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-consult {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: maroon;
  width: 8rem;
  height: 4rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.navbar-consult svg {
  display: none;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

/* Boostrap default class name */
.offcanvas {
  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none !important;
  transition: transform 2.3s ease-in-out;
  --bs-offcanvas-width: auto;
}

.offcanvas.hide-offcanvas {
  transform: translateX(-101%) !important;
}

.offcanvas.show-offcanvas {
  transform: translateX(0);
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  background-color: maroon;
  height: 100vh;
  width: calc(10rem + (2rem / 240px) * (100vw - 400px));
  font-size: 0.9rem;
}

.offcanvas-left.closing {
  pointer-events: none;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 3rem;
}

.offcanvas-right.margin-negative {
  margin-left: -1px;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: maroon;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 1rem 15px;
}

.offcanvas-link svg {
  flex-shrink: 0;
}

.offcanvas-divider {
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-extension {
  color: black;
  background-color: white;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 2.3s ease-in-out;
}

.offcanvas-extension.open {
  width: 12rem;
}

.offcanvas-extension.fast {
  transition: width 1.2s ease-in-out;
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

.rotate-270 {
  transform: rotate(270deg);
  transform-origin: center;
}

.rotate-270 {
  transform: rotate(270deg);
  transform-origin: center;
}

.offcanvas2 {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-flex;
  flex-direction: row;
  color: black;
  background-color: transparent;
  border: none !important;
  transition: transform 2.3s ease-in-out;
  --bs-offcanvas-width: auto;
  z-index: 1050;
}

.offcanvas2.hide-offcanvas {
  transform: translateX(101%) !important;
}

.offcanvas2.show-offcanvas {
  transform: translateX(0);
}

/* Copied from Boostrap class .offcanvas-backdrop */
.offcanvas2-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

/* fade MUST be defined before show */
.offcanvas2-backdrop.fade {
  opacity: 0;
}

.offcanvas2-backdrop.show {
  opacity: 0.5;
}

.offcanvas2-left {
  display: flex;
  flex-direction: column;
  width: 3rem;
}

.offcanvas2-left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-left-radius: 0.375rem;
  background-color: maroon;
  margin-right: -1px;
}

.offcanvas2-left-bottom {
  display: none;
  flex: 1;
}

.offcanvas2-right {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 20rem;
  font-size: 0.9rem;
  gap: 2rem;
}

.offcanvas2-right.closing {
  pointer-events: none;
}

.offcanvas2-consult {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.8rem;
  font-weight: 750;
  color: maroon;
}

.offcanvas2-socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 400px) {
  .offcanvas-left {
    width: calc(100vw - 15rem);
  }
}

@media (max-width: 345px) {
  .offcanvas-left {
    width: calc(345px - 15rem);
    flex-shrink: 0;
  }
  .offcanvas-right {
    flex-shrink: 0;
  }
}

@media (max-width: 23rem) {
  .offcanvas2-right {
    width: calc(100vw - 3rem);
  }
}

/* @media (max-width: calc(345px - 12rem)) {
  .offcanvas {
    min-width: calc(345px - 12rem);
  }
  .offcanvas-extension {
    display: none;
  }
} */

@media (min-width: 640px) {
  .offcanvas-left {
    width: calc(12rem + (4rem / 128px) * (100vw - 640px));
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .navbar-consult {
    width: 9rem;
    font-size: 1rem;
  }
  .offcanvas-left {
    width: 16rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    height: 5rem;
  }
  .navbar-link {
    display: flex;
  }
  .navbar-consult {
    flex-direction: row-reverse;
    height: 3rem;
    width: 12rem;
    padding: 1rem;
    border-radius: 2rem;
  }
  .navbar-consult svg {
    display: inline;
  }
  .offcanvas-button {
    display: none;
  }
  /* .offcanvas {
    display: none;
  }
  .offcanvas-backdrop {
    display: none;
  } */
}

@media (min-width: 1280px) {
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    height: 6rem;
  }
  .navbar-link {
    font-size: 1rem;
  }
  .navbar-consult {
    height: 3.5rem;
    width: 16rem;
    font-size: 1.1rem;
  }
  .navbar-consult svg {
    margin-left: 3rem;
  }
}

@media (min-width: 1440px) {
  .navbar {
    height: 7rem;
  }
  .navbar-link {
    font-size: 1.1rem;
  }
}

@media (min-width: 1600px) {

}

@media (min-width: 1920px) {

}