.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: white;
  height: 4rem;
  padding: 0;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link {
  display: none;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #238dc1;
  cursor: pointer;
}

.navbar-link.active {
  color: #238dc1;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-consult {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #238dc1;
  width: 8rem;
  height: 4rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.offcanvas-button:hover,
.offcanvas-button:focus {
  cursor: pointer;
}

/* Boostrap default class name */
.offcanvas {
  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none !important;
  transition: transform 2.3s ease-in-out;
  --bs-offcanvas-width: auto;
}

.offcanvas.hide-offcanvas {
  transform: translateX(-101%) !important;
}

.offcanvas.show-offcanvas {
  transform: translateX(0);
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  background-color: #238dc1;
  height: 100vh;
  width: 10rem;
  font-size: 0.9rem;
}

.offcanvas-left.closing {
  pointer-events: none;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 3rem;
  margin-left: -1px;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: #238dc1;
}

.offcanvas-right-top:hover,
.offcanvas-right-top:focus {
  cursor: pointer;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

.offcanvas-link:hover,
.offcanvas-link:focus {
  cursor: pointer;
}

.offcanvas-divider {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

/* 640px */
@media (min-width: 40rem) {
  .offcanvas-left {
    width: calc(12rem + 0.5 * (100vw - 40rem));
    font-size: 1rem;
  }
}

/* 768px */
@media (min-width: 48rem) {
  .navbar-consult {
    width: 9rem;
    font-size: 1rem;
  }
  .offcanvas-left {
    width: 16rem;
  }
}

/* 1024px */
@media (min-width: 64rem) {
  .navbar {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    height: 5rem;
  }
  .navbar-link {
    display: flex;
  }
  .navbar-consult {
    flex-direction: row-reverse;
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
  }
  .offcanvas-button {
    display: none;
  }
}

/* 1280px */
@media (min-width: 80rem) {
  .navbar {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    height: 6rem;
  }
  .navbar-link {
    font-size: 1rem;
  }
  .navbar-consult {
    height: 3.5rem;
    width: 12rem;
    font-size: 1.1rem;
  }
}

/* 1536px */
@media (min-width: 96rem) {
  .navbar {
    height: 7rem;
  }
  .navbar-link {
    font-size: 1.1rem;
  }
}