.navbar {
  background-color: white;
  height: 4rem;
  padding: 0;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left, .navbar-right {
  display: flex;
  width: 50%;
}

.navbar-right {
  flex-direction: row-reverse;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-consult {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: maroon;
  width: 8rem;
  height: 4rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

/* Boostrap default class name */
.offcanvas {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none !important;
}

/* Override Boostrap class */
.offcanvas.offcanvas-start {
  left: auto;
}

.offcanvas.hide-offcanvas {
  left: calc(-1 * var(--bs-offcanvas-width));
}

.offcanvas.show-offcanvas {
  left: 0;
}

.offcanvas.short {
  --bs-offcanvas-width: 13rem;
}

.offcanvas.long {
  --bs-offcanvas-width: 25rem;
}

.offcanvas-z-index-negative {
  --bs-offcanvas-zindex: -1;
}

.offcanvas-z-index-positive {
  --bs-offcanvas-zindex: 10000;
}

.offcanvas-transition-default {
  transition-property: width, left; /* keep Bootstrap + add width */
  transition-duration: 2.3s, 2.3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.offcanvas-transition-fast {
  transition-property: width, left; /* keep Bootstrap + add width */
  transition-duration: 1.2s, 2.3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  flex-basis: 10rem;
  overflow: scroll;
  background-color: maroon;
  height: 100%;
}

.offcanvas-left.closing {
  pointer-events: none;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  flex-basis: 3rem;
}

.offcanvas-right-margin-negative {
  margin-left: -1px;
}

.offcanvas-right-margin-zero {
  margin-left: 0;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: maroon;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 15px;
}

.offcanvas-link svg {
  flex-shrink: 0;
}

.offcanvas-divider {
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-extension {
  color: black;
  background-color: white;
  flex: 1;
  overflow: hidden;
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

.rotate-270 {
  transform: rotate(270deg);
  transform-origin: center;
}

@media (max-width: 25rem) {
  /* .offcanvas.short {
    --bs-offcanvas-width: calc(100vw - 12rem);
  } */
  .offcanvas-left {
    flex-basis: calc(100vw - 15rem);
  }
  /* .offcanvas-transition-default {
    transition: none;
  } */
}

@media (max-width: 345px) {
  .offcanvas.short {
    --bs-offcanvas-width: calc(345px - 12rem);
  }
  .offcanvas-left {
    flex-basis: calc(345px - 15rem);
  }
}