.navbar {
  background-color: white;
  height: 4rem;
  padding: 0;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left, .navbar-right {
  display: flex;
  width: 50%;
}

.navbar-right {
  flex-direction: row-reverse;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-consult {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: maroon;
  width: 8rem;
  height: 4rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

/* Boostrap default class name */
.offcanvas {
  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none !important;
  transition: transform 2.3s ease-in-out;
  --bs-offcanvas-width: auto;
}

.offcanvas.hide-offcanvas {
  transform: translateX(-100%) !important;
}

.offcanvas.show-offcanvas {
  transform: translateX(0);
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  background-color: maroon;
  height: 100vh;
  width: 10rem;
}

.offcanvas-left.closing {
  pointer-events: none;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 3rem;
}

.offcanvas-right.margin-negative {
  margin-left: -1px;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: maroon;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 15px;
}

.offcanvas-link svg {
  flex-shrink: 0;
}

.offcanvas-divider {
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-extension {
  color: black;
  background-color: white;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 2.3s ease-in-out;
}

.offcanvas-extension.open {
  width: 12rem;
}

.offcanvas-extension.fast {
  transition: width 1.2s ease-in-out;
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

.rotate-270 {
  transform: rotate(270deg);
  transform-origin: center;
}

@media (max-width: 25rem) {
  .offcanvas-left {
    width: calc(100vw - 15rem);
  }
}

@media (max-width: 345px) {
  .offcanvas-left {
    width: calc(345px - 15rem);
    flex-shrink: 0;
  }
  .offcanvas-right {
    flex-shrink: 0;
  }
}

@media (max-width: calc(345px - 12rem)) {
  .offcanvas {
    min-width: calc(345px - 12rem);
  }
  .offcanvas-extension {
    display: none;
  }
}