body {
  margin: var(--navbar-height) 0 0;
}

body.no-scroll {
  overflow: hidden;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  margin-left: clamp(1rem, calc((100% - 14rem) * 0.5), 3rem);
  margin-right: clamp(1rem, calc((100% - 14rem) * 0.5), 3rem);
}

.bold {
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.navbar.hidden {
  visibility: hidden;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link {
  position: relative;
  display: none;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar-link:hover {
  color: #238dc1;
  cursor: pointer;
}

.navbar-link.active {
  color: #238dc1;
}

.navbar-sublinks {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 1rem;
  z-index: 1;
  overflow: hidden;
  max-height: 0rem;
  transition: max-height 0.3s ease-in-out;
}

.navbar-sublinks-border {
  display: flex;
  flex-direction: column;
  border: 2px solid #238dc1;
  border-radius: 1rem;
}

.navbar-sublink {
  padding: 0.25rem 0.5rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  outline-offset: -2px;
}

.navbar-sublink:first-child {
  padding-top: 0.5rem;
}

.navbar-sublink:last-child {
  padding-bottom: 0.5rem;
}

.navbar-sublink:hover,
.navbar-sublink.active {
  color: #238dc1;
}

.navbar-sublink-divider {
  height: 1px;
  width: 90%;
  background-color: lightslategray;
  opacity: 0.6;
  align-self: center;
}

.navbar-sublink-divider:hover {
  cursor: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  min-width: 0;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #238dc1;
  width: clamp(8rem, calc(8rem + 0.125 * (100vw - 40rem)), 9rem);
  height: 4rem;
  font-weight: bold;
  font-size: clamp(0.9rem, calc(0.9rem + 0.0125 * (100vw - 40rem)), 1rem);
  text-decoration: none;
  text-align: center;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.offcanvas-button:hover {
  cursor: pointer;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 1;
  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none;
  transform: translateX(-101%);
  transition: transform 0.3s ease-in-out;
  padding-bottom: var(--safe-area-inset-bottom);
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  background-color: #238dc1;
  height: 100vh;
  width: clamp(14rem, calc(14rem + 0.25 * (100vw - 40rem)), 16rem);
  font-size: clamp(0.9rem, calc(0.9rem + 0.0125 * (100vw - 40rem)), 1rem);
  z-index: 2;
  overflow: auto;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 3rem;
  margin-left: -1px;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: #238dc1;
}

.offcanvas-right-top:hover {
  cursor: pointer;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

.offcanvas-link.top {
  padding: 1rem 1rem 0.25rem;
}

.offcanvas-link.show {
  padding-bottom: 0.25rem;
}

.offcanvas-link-bottom {
  display: block;
  height: 0.75rem;
}

.offcanvas-link:focus {
  outline-offset: -2px;
}

.offcanvas-link:hover,
.offcanvas-link-bottom:hover {
  cursor: pointer;
}

.offcanvas-link-bottom.show:hover {
  cursor: auto;
}

.offcanvas-sublinks {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
}

.offcanvas-sublinks.transition {
  transition: max-height 0.3s ease-in-out;
}

.offcanvas-sublink {
  position: relative;
  padding: 0.25rem 1rem;
  color: white;
  text-decoration: none;
}

.offcanvas-sublink:focus {
  outline-offset: -2px;
}

.offcanvas-sublink::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 0.5rem;
  border-bottom: 1px solid rgba(224, 224, 224, 0.6);
}

.offcanvas-sublink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-left: 1px solid rgba(224, 224, 224, 0.6);
  padding-left: 1px;
}

.offcanvas-sublink:last-child::after {
  bottom: 50%;
  height: 50%;
}

.offcanvas-divider {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

.about-sections {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-section h3 {
  color: #238dc1;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  gap: 3rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-member-photo {
  width: min(12rem, 100%);
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

.team-member-divider {
  height: 0.25rem;
  width: 100%;
  background-color: #238dc1;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-member-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.team-member-link {
  display: block;
  width: fit-content;
  color: #238dc1;
  padding: 0.5rem;
  border: 2px solid #238dc1;
  text-decoration: none;
}

.team-member-link:hover {
  background-color: #238dc1;
  color: white;
}

.member {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.member-photo {
  margin-bottom: 0.5rem;
}

.member-name {
  margin-block-start: 0;
  margin-block-end: 0;
}

.member-role {
  font-size: 1.1rem;
}

.member-paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.partners {
  text-align: center;
}

.partners-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 3rem;
  margin: 3rem;
}

.partners-logo {
  max-width: min(12rem, 100%);
  max-height: 12rem;
  justify-self: center;
  align-self: center;
}

@media (max-width: 20rem) {
  .partners-logos {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 12rem) {
  .chat-bubble {
    display: none;
  }
  .offcanvas-link.top {
    gap: 0.25rem;
  }
  .offcanvas-sublinks {
    padding-left: 0.5rem;
  }
}

/* 640px */
@media (min-width: 40rem) {

}

/* 768px */
@media (min-width: 48rem) {

}

/* 1024px */
@media (min-width: 64rem) {
  :root {
    --navbar-height: 5rem;
  }
  main {
    max-width: 64rem;
  }
  .navbar {
    padding-left: 1.875rem;
    padding-right: calc(1.875rem - 100vw + 100%);
  }
  .navbar-link {
    display: flex;
  }
  .navbar-contact {
    flex-direction: row-reverse;
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
  }
  .offcanvas-button {
    display: none;
  }
  .about {
    max-width: 58rem;
  }
  .member {
    flex-direction: row;
    max-width: 58rem;
  }
  .member-left {
    flex-shrink: 0;
    width: 40%;
    margin-top: 1.5rem;
  }
  .member-divider-top {
    width: 80%;
  }
  .member-divider-bottom {
    display: none;
  }
}

/* 1280px */
@media (min-width: 80rem) {
  :root {
    --navbar-height: 6rem;
  }
  main {
    max-width: 80rem;
  }
  .container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .navbar {
    padding-left: 3.75rem;
    padding-right: calc(3.75rem - 100vw + 100%);
  }
  .navbar-link {
    font-size: 1rem;
  }
  .navbar-contact {
    height: 3.5rem;
    width: 12rem;
    font-size: 1.1rem;
  }
  .about,
  .member {
    margin-left: auto;
    margin-right: auto;
  }
  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 6rem;
  }
}

/* 1536px */
@media (min-width: 96rem) {
  :root {
    --navbar-height: 7rem;
  }
  main {
    max-width: 96rem;
  }
  .navbar-link {
    font-size: 1.1rem;
  }
  .partners-logos {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .partners-logo {
    max-width: 14rem;
    max-height: 14rem;
  }
  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}