body {
  margin: var(--navbar-height) 0 0;
}

body.no-scroll {
  overflow: hidden;
}

main {
  padding-top: 1.25rem;
  padding-bottom: 3rem;
  overflow-x: hidden;
  overflow-y: auto;
}

main.scrollbar-gutter {
  scrollbar-gutter: stable;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h3, h4, p, ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 2.5rem;
}

.container {
  padding-left: clamp(1rem, calc((100% - 24rem) * 0.5), 3rem);
  padding-right: clamp(1rem, calc((100% - 24rem) * 0.5), 3rem);
}

.bold {
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.navbar.hidden {
  visibility: hidden;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link {
  position: relative;
  display: none;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--theme-color);
  cursor: pointer;
}

.navbar-link.active {
  color: var(--theme-color);
}

.navbar-sublinks {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 1rem;
  z-index: 1;
  overflow: hidden;
  max-height: 0rem;
  transition: max-height 0.3s ease-in-out;
}

.navbar-sublinks-border {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--theme-color);
  border-radius: 1rem;
}

.navbar-sublink {
  padding: 0.25rem 0.5rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  outline-offset: -2px;
}

.navbar-sublink:first-child {
  padding-top: 0.5rem;
}

.navbar-sublink:last-child {
  padding-bottom: 0.5rem;
}

.navbar-sublink:hover,
.navbar-sublink.active {
  color: var(--theme-color);
}

.navbar-sublink-divider {
  height: 1px;
  width: 90%;
  background-color: lightslategray;
  opacity: 0.6;
  align-self: center;
}

.navbar-sublink-divider:hover {
  cursor: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  min-width: 0;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: var(--theme-color);
  width: clamp(8rem, calc(8rem + 0.125 * (100vw - 40rem)), 9rem);
  height: 4rem;
  font-weight: bold;
  font-size: clamp(0.9rem, calc(0.9rem + 0.0125 * (100vw - 40rem)), 1rem);
  text-decoration: none;
  text-align: center;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.offcanvas-button:hover {
  cursor: pointer;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  z-index: 1;
  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none;
  transform: translateX(-101%);
  transition: transform 0.3s ease-in-out;
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color);
  height: 100%;
  width: clamp(14rem, calc(14rem + 0.25 * (100vw - 40rem)), 16rem);
  font-size: clamp(0.9rem, calc(0.9rem + 0.0125 * (100vw - 40rem)), 1rem);
  z-index: 2;
  overflow: auto;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 3rem;
  margin-left: -1px;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: var(--theme-color);
}

.offcanvas-right-top:hover {
  cursor: pointer;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

.offcanvas-link.top {
  padding: 1rem 1rem 0.25rem;
}

.offcanvas-link.show {
  padding-bottom: 0.25rem;
}

.offcanvas-link-bottom {
  display: block;
  height: 0.75rem;
}

.offcanvas-link:focus {
  outline-offset: -2px;
}

.offcanvas-link:hover,
.offcanvas-link-bottom:hover {
  cursor: pointer;
}

.offcanvas-link-bottom.show:hover {
  cursor: auto;
}

.offcanvas-sublinks {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
}

.offcanvas-sublinks.transition {
  transition: max-height 0.3s ease-in-out;
}

.offcanvas-sublink {
  position: relative;
  padding: 0.25rem 1rem;
  color: white;
  text-decoration: none;
}

.offcanvas-sublink:focus {
  outline-offset: -2px;
}

.offcanvas-sublink::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 0.5rem;
  border-bottom: 1px solid rgba(224, 224, 224, 0.6);
}

.offcanvas-sublink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-left: 1px solid rgba(224, 224, 224, 0.6);
  padding-left: 1px;
}

.offcanvas-sublink:last-child::after {
  bottom: 50%;
  height: 50%;
}

.offcanvas-divider {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

.about-sections,
.service-sections {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-section h3,
.service-section h3 {
  color: var(--theme-color);
}

.insurance-group {
  container-type: inline-size;
}

.insurance-group h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.insurance-group h3.insurance-group-title-first {
  margin-top: 0;
}

.insurance-types {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(8rem, -12rem + 50vw, 12rem));
  gap: clamp(1.5rem, -1rem + 6.25vw, 2rem);
  justify-content: center;
}

.insurance-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.08), 0 4px 7px 2px rgba(0,0,0,.08);
  color: black;
  text-decoration: none;
}

.insurance-type:hover {
  border: 2px solid var(--theme-color);
  padding-left: calc(0.25rem - 2px);
  padding-right: calc(0.25rem - 2px);
  background-color: rgba(35, 141, 193, 0.05);
  cursor: pointer;
}

.insurance-type img {
  width: 100%;
  max-width: clamp(6rem, -4rem + 25vw, 8rem);
  aspect-ratio: 8 / 7;
  object-fit: contain;
}

.insurance-type h4 {
  font-size: clamp(0.8rem, -0.2rem + 2.5vw, 1rem);
  line-height: 1.49;  /* To stop visual glitch at 208px - 209px */
}

.insurance-type span {
  white-space: nowrap;
}

.product-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-group img {
  width: 100%;
  max-height: 20rem;
  aspect-ratio: 8 / 5;
  object-fit: cover;
  z-index: -1;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  gap: 3rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-member-photo {
  width: min(12rem, 100%);
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

.team-member-divider {
  height: 0.25rem;
  width: 100%;
  background-color: var(--theme-color);
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-member-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.team-member-link {
  display: block;
  width: fit-content;
  color: var(--theme-color);
  padding: 0.5rem;
  border: 2px solid var(--theme-color);
  text-decoration: none;
}

.team-member-link:hover {
  background-color: var(--theme-color);
  color: white;
}

.member {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
}

.member-photo {
  margin-bottom: 0.5rem;
}

.member-name {
  margin-block-start: 0;
  margin-block-end: 0;
}

.member-role {
  font-size: 1.1rem;
}

.member-paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.partners {
  text-align: center;
}

.partners-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 3rem;
  margin-top: 1.5rem;
}

.partners-logo {
  max-width: min(12rem, 100%);
  max-height: 12rem;
  justify-self: center;
  align-self: center;
}

.contact h2 {
  text-align: center;
}

.contact-description {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-method {
  display: flex;
  padding: 0.75rem;
}

.contact-method svg {
  width: clamp(4rem, -14rem + 80vw, 6rem);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.contact-method-details {
  padding-top: clamp(0.25rem, -2rem + 10vw, 0.5rem);
  padding-left: 0.5rem;
}

.contact-method-details a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.contact-method-details a:hover {
  color: var(--theme-color);
}

.contact-method-header {
  display: flex;
  gap: 0.5rem;
  color: var(--theme-color);
}

.contact-method-header svg {
  display: none;
  width: 1.5rem;
}

.contact-method-divider {
  height: 2px;
  width: calc(100% - 1rem);
  background-color: var(--theme-color);
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem;
}

.contact-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  font-size: 1rem;
}

.contact-form-field input {
  padding: 0.75rem;
  border: 1px solid lightslategray;
  border-radius: 0.375rem;
  font-size: inherit;
  font-family: inherit;
}

.contact-form-field input:focus,
.contact-form-message-container:focus-within {
  border: 1px solid var(--theme-color);
  outline: none;
}

.contact-form-field input:disabled,
#contact-form-message:disabled {
  background-color: #f0f0f0;
  color: slategray;
}

.contact-form-field input::placeholder,
#contact-form-message::placeholder {
  color: slategray;
}

.contact-form-message-container {
  border: 1px solid lightslategray;
  border-radius: 0.375rem;
  overflow: hidden;
}

#contact-form-message {
  display: block;
  width: 100%;
  height: 12rem;
  padding: 0.75rem;
  border: 1px solid transparent;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  resize: vertical;
  scrollbar-gutter: stable;
}

.contact-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 10rem;
  height: 3rem;
  align-self: center;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 0 0.98rem;
  margin-top: 1rem;
}

.contact-form-button:hover {
  cursor: pointer;
}

.contact-form-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.contact-form-button svg,
.contact-form-button-loader {
  width: 1rem;
  height: 1rem;
}

.contact-form-button-loader {
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.contact-response {
  margin-top: 0.75rem;
  text-align: center;
  min-height: 3rem;
}

.contact-response strong {
  color: var(--theme-color);
  white-space: nowrap;
}

.contact-response.error-message {
  color: red;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@container (min-width: 54rem) {
  .insurance-types {
    justify-content: start;
  }
}

@media (max-width: 22rem) {
  .contact-method svg {
    display: none;
  }
  .contact-method-header svg {
    display: inline;
  }
}

@media (max-width: 20.5rem) {
  .insurance-types {
    grid-template-columns: repeat(auto-fill, min(clamp(6rem, -1.1111rem + 44.4444vw, 8rem), 100%));
    gap: clamp(1rem, -0.7778rem + 11.1111vw, 1.5rem);
  }
  .insurance-type img {
    max-width: clamp(4rem, -3.1111rem + 44.4444vw, 6rem);
  }
}

@media (max-width: 12rem) {
  .chat-bubble {
    display: none;
  }
  .offcanvas-link.top {
    gap: 0.25rem;
  }
  .offcanvas-sublinks {
    padding-left: 0.5rem;
  }
}

/* 640px */
@media (min-width: 40rem) {

}

/* 768px */
@media (min-width: 48rem) {

}

/* 1024px */
@media (min-width: 64rem) {
  :root {
    --navbar-height: 5rem;
  }
  .container {
    width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    padding-left: 1.875rem;
    padding-right: calc(1.875rem - 100vw + 100%);
  }
  .navbar-link {
    display: flex;
  }
  .navbar-contact {
    flex-direction: row-reverse;
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
  }
  .offcanvas-button {
    display: none;
  }
  .product-group {
    flex-direction: row;
    height: 15rem;
  }
  .product-group img {
    width: 51vw;
    height: 20rem;
    flex-shrink: 0;
    order: 1;
    transform: translateY(-5rem);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 12rem 100%);
  }
  .product-group p {
    width: calc(50% - 1.5rem);
    flex-shrink: 0;
  }
  .member {
    flex-direction: row;
  }
  .member-left {
    flex-shrink: 0;
    width: 40%;
    margin-top: 1.5rem;
  }
  .member-divider-top {
    width: 80%;
  }
  .member-divider-bottom {
    display: none;
  }
}

/* 1280px */
@media (min-width: 80rem) {
  :root {
    --navbar-height: 6rem;
  }
  .container {
    width: 80rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .navbar {
    padding-left: 3.75rem;
    padding-right: calc(3.75rem - 100vw + 100%);
  }
  .navbar-link {
    font-size: 1rem;
  }
  .navbar-contact,
  .contact-form-button {
    height: 3.5rem;
    width: 12rem;
    font-size: 1.1rem;
  }
  .about,
  .member,
  .service,
  .contact {
    width: 64rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .partners {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 6rem;
  }
  .contact-form-button {
    padding: 0 1.6rem;
  }
  .contact-form-button svg,
  .contact-form-button-loader {
    width: 1.1rem;
    height: 1.1rem;
  }
}

/* 1536px */
@media (min-width: 96rem) {
  :root {
    --navbar-height: 7rem;
  }
  .container {
    width: 96rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .navbar-link {
    font-size: 1.1rem;
  }
  .about,
  .member,
  .service,
  .contact {
    width: 64rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .partners {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .partners-logos {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .partners-logo {
    max-width: 14rem;
    max-height: 14rem;
  }
  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}