.navbar {
  position: relative;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: linear-gradient(to bottom, lightgray, transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link {
  display: none;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #238dc1;
  cursor: pointer;
}

.navbar-link.active {
  color: #238dc1;
}

.navbar-right {
  display: flex;
  align-items: center;
  min-width: 0;
}

.navbar-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 4rem;
  height: 4rem;
}

.map-marker {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #238dc1;
  width: 8rem;
  height: 4rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  white-space: nowrap;
}

.chat-bubble {
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.offcanvas-button:hover,
.offcanvas-button:focus {
  cursor: pointer;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 1;
  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: none;
  transform: translateX(-101%);
  transition: transform 0.3s ease-in-out;
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-left {
  display: flex;
  flex-direction: column;
  background-color: #238dc1;
  height: 100vh;
  width: 14rem;
  font-size: 0.9rem;
  z-index: 2;
  overflow: auto;
}

.offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 3rem;
  margin-left: -1px;
}

.offcanvas-right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-right-radius: 0.375rem;
  background-color: #238dc1;
}

.offcanvas-right-top:hover,
.offcanvas-right-top:focus {
  cursor: pointer;
}

.offcanvas-right-bottom {
  display: none;
  flex: 1;
}

.offcanvas-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

.offcanvas-link.top {
  padding: 1rem 1rem 0.25rem;
}

.offcanvas-link.show {
  padding-bottom: 0.25rem;
}

.offcanvas-link-bottom {
  display: block;
  height: 0.75rem;
}

.offcanvas-link:focus {
  outline-offset: -2px;
}

.offcanvas-link:hover,
.offcanvas-link:focus,
.offcanvas-link-bottom:hover,
.offcanvas-link-bottom:focus {
  cursor: pointer;
}

.offcanvas-link-bottom.show:hover,
.offcanvas-link-bottom.show:focus {
  cursor: auto;
}

.offcanvas-sublinks {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
}

.offcanvas-sublinks.transition {
  transition: max-height 0.3s ease-in-out;
}

.offcanvas-sublink {
  position: relative;
  padding: 0.25rem 1rem;
  color: white;
  text-decoration: none;
}

.offcanvas-sublink:focus {
  outline-offset: -2px;
}

.offcanvas-sublink::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 0.5rem;
  border-bottom: 1px solid rgba(224, 224, 224, 0.6);
}

.offcanvas-sublink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-left: 1px solid rgba(224, 224, 224, 0.6);
  padding-left: 1px;
}

.offcanvas-sublink:last-child::after {
  bottom: 50%;
  height: 50%;
}

.offcanvas-divider {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1px;
  background-color: rgba(224, 224, 224, 0.6);
}

.offcanvas-socials {
  margin-top: auto;
  padding-bottom: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: right;
  line-height: 2;
}

.offcanvas-icon {
  margin-left: 0.7rem;
}

@media (max-width: 12rem) {
  .chat-bubble {
    display: none;
  }
}

@media (max-width: 10rem) {
  .offcanvas-sublinks {
    padding-left: 1rem;
  }
}

/* 640px */
@media (min-width: 40rem) {
  .navbar-contact {
    width: 9rem;
    font-size: 1rem;
  }
  .offcanvas-left {
    width: calc(14rem + 0.25 * (100vw - 40rem));
    font-size: 1rem;
  }
}

/* 768px */
@media (min-width: 48rem) {
  .offcanvas-left {
    width: 16rem;
  }
}

/* 1024px */
@media (min-width: 64rem) {
  .navbar {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    height: 5rem;
  }
  .navbar-link {
    display: flex;
  }
  .navbar-contact {
    flex-direction: row-reverse;
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
  }
  .offcanvas-button {
    display: none;
  }
  /* .offcanvas {
    display: none;
  } */
}

/* 1280px */
@media (min-width: 80rem) {
  .navbar {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    height: 6rem;
  }
  .navbar-link {
    font-size: 1rem;
  }
  .navbar-contact {
    height: 3.5rem;
    width: 12rem;
    font-size: 1.1rem;
  }
}

/* 1536px */
@media (min-width: 96rem) {
  .navbar {
    height: 7rem;
  }
  .navbar-link {
    font-size: 1.1rem;
  }
}