:root {
  font-family: Outfit, Open Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background-color: white;

  --navbar-height: 4rem;
  --theme-color: #238dc1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}