:root {
  font-family: Outfit, Open Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background-color: white;

  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --navbar-height: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}